@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
    /* --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b; */

    --primary-color: #ead833;
  --primary-color-dark: #ead833da;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


body{
    line-height: 1.4;
    color: var(--dark);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/home.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
  }
  
  
  .active{
    color: var(--primary-color);
  }
  
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
  }
  
  ul li a:hover {
    border-top-color: var(--primary-color-dark);
    border-bottom-color: var(--primary-color-dark);
    color: var(--primary-color-dark);

    
  }
  
  ul li.me{
      display: none;
  }
  
  ul li ul.dropdown li{
      display: block;
  }
  
  ul li ul.dropdown {
     border-width: 0;
      width: 100%;
      position: absolute;
      top: 70%;
      z-index: 999;
      display: none;
  }
  
  .dropdown li a:hover{
     
     border: 0;
     border-width: 0;
  }
  
  ul li:hover ul.dropdown {
      display: block;
  }
  ul li ul.dropdown:focus{
      border-width: 0;
      color: green;
  }
  
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    
    line-height: 1.2;
}

.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}



/* blog */
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
   
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* background: var(--primary-color-dark); */
    color: #fff;
    font-size: 1.9rem;
    padding: 0.3rem 0.6rem;
}

.blog-img span:hover{
   
    /* background: var(--primary-color-dark); */
    color: #ff0303;
   
}

.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
   
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--text-dark);
}




/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
} 

@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (width < 750px) {
    nav .checkbox {
      display: block;
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--extra-light);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
  
    ul li ul.dropdown li{
      display: block;
  }
  
  .ri-arrow-down-s-fill{
      display: none;
  }
  
  ul li.me{
      display: block;
  }
   
  
    nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    }
  
    .section__container {
      padding: 10rem 1rem 5rem 1rem;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  
    .action__btns {
      margin: auto;
    }
  }